################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlayQuic
/QuicClient/bin/Debug/net7.0
/QuicClient/obj
/QuicServer/bin/Debug/net7.0
/QuicServer/obj
